{% extends 'base.html.twig' %}

{% block title %}Edit Formation - OnlySign{% endblock %}

{% block body %}
    <h1>Edit Formation</h1>

    {{ include('formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formation_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
