{% extends 'base.html.twig' %}

{% block title %}Formation list - OnlySign{% endblock %}

{% block body %}
    <h1>Formations list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Begin_date</th>
                <th>End_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.title }}</td>
                <td>{{ formation.location }}</td>
                <td>{{ formation.beginDate|format_datetime('full', 'short', locale='fr') }}</td>
                <td>{{ formation.endDate|format_datetime('full', 'short', locale='fr') }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">
                        <button class="btn btn-info">
                            Show
                        </button>
                    </a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">
                        <button class="btn btn-primary">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_new') }}">
        <button class="btn btn-primary">
            Create new
        </button>
    </a>
{% endblock %}
