{% extends 'base.html.twig' %}

{% block title %}New Formation - OnlySign{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>
{% endblock %}
