{% extends 'base.html.twig' %}

{% block title %}Formation - OnlySign{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ formation.title }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ formation.location }}</td>
            </tr>
            <tr>
                <th>Begin_date</th>
                <td>{{ formation.beginDate|format_datetime('full', 'short', locale='fr') }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ formation.endDate|format_datetime('full', 'short', locale='fr') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">
        <button class="btn btn-primary">
            Edit
        </button>
    </a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
