{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}
{% block body %}
    <div class="textError">
        <h1>Houston, we have a problem here</h1>
        <p>Code :{{status_code}}</p>
    </div>
        <div class="background403">
    </div>
{% endblock %}