{% extends 'base.html.twig' %}

{% block title %}Ressource not found{% endblock %}

{% block body %}
<div class="textError">
        <h1>Ressource not found</h1>
        <p>Code :{{status_code}}</p>
    </div>
<div class="background404">
</div>
{% endblock %}