{% extends 'base.html.twig' %}

{% block title %}Access denied{% endblock %}
{% block body %}
    <div class="textError">
        <h1>Access denied.</h1>
        <p>Code :{{status_code}}</p>
    </div>
        <div class="background403">
    </div>
{% endblock %}