{% extends 'base.html.twig' %}

{% block title %}My promotion - OnlySign{% endblock %}

{% block body %}

<h1>Learners</h1>

<ul>
    {% for profile in studentsList %}
        <li>{{ profile.user.lastName|e }} {{ profile.user.firstName|e }} ({{ profile.user.username|e }}) </li>
    {% endfor %}
</ul>

<h1>Teachers</h1>

<ul>
    {% for profile in teachersList %}
        <li>{{ profile.user.lastName|e }} {{ profile.user.firstName|e }} ({{ profile.user.username|e }}) </li>
    {% endfor %}
</ul>

<h1>Chiefs</h1>

<ul>
    {% for profile in chiefsList %}
        <li>{{ profile.user.lastName|e }} {{ profile.user.firstName|e }}  ({{ profile.user.username|e }}) </li>
    {% endfor %}
</ul>

{% endblock %}
