{% extends 'base.html.twig' %}

{% block title %}Edit my informations - OnlySign{% endblock %}

{% block body %}
    <h1>Edit my informations</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">
        <button class="btn btn-secondary">
            List of users
        </button>
    </a>

    {{ include('user/_delete_form.html.twig') }}
    <a href="{{ path('home') }}">
        <button class="btn btn-secondary">
            Back to homepage
        </button>
    </a>
{% endblock %}
