{% extends 'base.html.twig' %}

{% block title %}Users list - Onlysign{% endblock %}

{% block body %}
    <h1>List of all Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Roles</th>
                {% endif %}
                <th>Last name</th>
                <th>First name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{user.roles|join(', ')}}</td>
                {% endif %}
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">
                        <button class="btn btn-info">
                            Show
                        </button>
                    </a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">
                        <button class="btn btn-primary">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
