{% extends 'base.html.twig' %}

{% block title %}My informations - Onlysign{% endblock %}

{% block body %}
    <h1>{{ user.firstName }} {{ user.lastName }}'s informations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Roles</th>
                <td>{{user.roles|join(', ')}}</td>
            </tr>            
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Last name</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>First name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_MANAGER') %}
        <a href="{{ path('user_index') }}">
            <button class="btn btn-secondary">
                List of users
            </button>
        </a>
    {% endif %}
    <a href="{{ path('user_edit', {'id': user.id}) }}">
        <button class="btn btn-primary">
            Edit
        </button>
    </a>

    {{ include('user/_delete_form.html.twig') }}  
{% endblock %}
