<form method="post" action="{{ path('signature_delete', {'id': signature.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ signature.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
