{% extends 'base.html.twig' %}

{% block title %}Edit Signature - Onlysign{% endblock %}

{% block body %}
    <h1>Edit Signature</h1>

    {{ include('signature/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('signature_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>
    
    {{ include('signature/_delete_form.html.twig') }}
{% endblock %}
