{% extends 'base.html.twig' %}

{% block title %}Signatures list - OnlySign{% endblock %}

{% block body %}
    <h1>Signatures list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Begin date</th>
                <th>End date</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Presence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signature in signatures %}
            <tr>
                <td>{{ signature.session.beginDate |date }}</td>
                <td>{{ signature.session.endDate |date }}</td>
                <td>{{ signature.profile.user.lastName }}</td>
                <td>{{ signature.profile.user.firstName }}</td>
                <td>{{ signature.presence ? 'Yes' : 'No' }}</td>
                <td>
                <a href="{{ path('signature_show', {'id': signature.id}) }}">
                    <button  class="btn btn-info">
                        Show
                    </button>
                </a>
                <a href="{{ path('signature_edit', {'id': signature.id}) }}">
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
