{% extends 'base.html.twig' %}

{% block title %}Signature - OnlySign{% endblock %}

{% block body %}
    <h1>Signature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signature.id }}</td>
            </tr>
            <tr>
                <th>Presence</th>
                <td>{{ signature.presence ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signature_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>

    <a href="{{ path('signature_edit', {'id': signature.id}) }}">
        <button class="btn btn-primary">
            Edit
        </button>
    </a>

    {{ include('signature/_delete_form.html.twig') }}
{% endblock %}
