{% extends 'base.html.twig' %}

{% block title %}Register - OnlySign{% endblock %}

{% block body %}

{{ form_errors(registrationForm) }}

    <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
