{% extends 'base.html.twig' %}

{% block title %}OnlySign{% endblock %}

{% block body %}
<div id="banner">
<h1 class="hello">Hello  {% if app.user %}<span id="username">{{app.user.username}}</span> {% endif %}!</h1>
<p class="welcome"> Welcome to <img src="{{ asset('build/images/Logo_onlysign.png')}}" alt="Logo du site onlysign" id="logoHome"></p>

<p id="banner-text">" We help you to handle your formations and make sure everybody is here. "</p></div>

{% endblock %}
