<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
  

    <!-- Copyright -->
    <div id="footer" class="text-center p-3 text-light" style="background-color: rgb(255, 157, 190);">
        © 2021 Copyrights: OnlySign Company
    </div>
    <!-- Copyright -->
        </footer>