<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/"><img src="{{ asset('build/images/Logo_onlysign.png')}}" alt="Logo du site onlysign" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto" id="navbar">
        {% if app.user != true %}   
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="/promotion">Promotion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/{{ app.user.id }}">My informations</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="/profile/new">Add user to formation</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/session/">Session</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
                <a class="nav-link" href="/formation">Formation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signature">Signatures</a>
            </li>
            {% endif %}
            
        

        
            {% endif %}
        </ul>
        {% if app.user %}
        <ul id="encart">
            <li class="nav-item">
                <p class="nav-link" style="color: #2AAEEA !important; cursor: default;">{{app.user}}</p>
            </li>
            <li class="nav-item" id="logout">
                <a class="nav-link" href="{{ path('app_logout') }}"><button class="btn btn-danger">Logout</button></a>
            </li class="nav-item">
        </ul>
        {% endif %}
    </div>
    </nav>
        </header>