{% extends 'base.html.twig' %}

{% block title %}Profiles list - OnlySign{% endblock %}

{% block body %}
    <h1>Profiles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Formation</th>
                <th>Rôle</th>
                <th>Subscription_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{profile.user.username}}</td>
                <td>{{profile.formation}}</td>
                    <td>{{profile.formationRole}}</td>
                <td>{{ profile.subscriptionDate|date('Y-m-d H:i:s')}}</td>
                <td>
                    <a href="{{ path('profile_show', {'id': profile.id}) }}">
                        <button class="btn btn-info">
                            Show
                        </button>
                    </a>
                    <a href="{{ path('profile_edit', {'id': profile.id}) }}">
                        <button class="btn btn-primary">
                            Edit
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_new') }}">
        <button class="btn btn-primary">
            Create new
        </button>
    </a>
{% endblock %}
