{% extends 'base.html.twig' %}

{% block title %}Add user to formation - OnlySign{% endblock %}

{% block body %}
    <h1>Add user(s) to a formation</h1>

    {{ include('profile/_form.html.twig') }}

    <a href="{{ path('profile_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>
{% endblock %}
