{% extends 'base.html.twig' %}

{% block title %}Profile - OnlySign{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <table class="table">
        <tbody>
             <tr>
                <th>Formation</th>
                <td>{{ profile.formation}}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ profile.user}}</td>
            </tr>
            <tr>
                <th>Subscription_date</th>
                <td>{{ profile.subscriptionDate|date('Y-m-d H:i:s')}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profile_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>

    <a href="{{ path('profile_edit', {'id': profile.id}) }}">
    <button class="btn btn-primary">
    Edit
    </button>
    </a>

    {{ include('profile/_delete_form.html.twig') }}
{% endblock %}
