{{ form_start(form) }}
{{form_row(form.formation) }} 
{{form_row(form.begin_date) }}
{{form_row(form.begin_hour) }}
{{form_row(form.end_hour) }}
{{form_row(form.end_date) }}

<h3>Exceptions</h3>
<ul class="exceptions" data-prototype="{{ form_widget(form.exceptions.vars.prototype)|e('html_attr') }}">
    {% for exception in form.exceptions %}
    
    {% endfor %}
</ul>
<button type="button" class="add_item_link btn btn-warning" data-collection-holder-class="exceptions">Add an exception</button>
<button type="submit" class="btn btn-success" formnovalidate>Envoyer</button>
{{form_end(form)}}