{% extends 'base.html.twig' %}

{% block title %}Edit Session - Onlysign{% endblock %}

{% block body %}
    <h1>Edit Session</h1>

    {{ include('session/_editform.html.twig', {'button_label': 'Update'}) }}

    <a  href="{{ path('session_index') }}">Back to list</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
