{% extends 'base.html.twig' %}

{% block title %}Sessions list - OnlySign{% endblock %}

{% block body %}

<h1>Next sessions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Formation</th>
                <th>Begin date</th>
                <th>End date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.formation }}</td>
                <td>{{ session.beginDate | date }}</td>
                <td>{{ session.endDate | date }}</td>
                <td>
                    {% if is_granted ("ROLE_MANAGER") %}
                        <a href="{{ path('session_show', {'id': session.id}) }}">
                            <button class="btn btn-info">
                                show
                            </button>
                        </a>
                        <a href="{{ path('session_edit', {'id': session.id}) }}">
                        <button class="btn btn-primary">
                        edit
                        </button>
                        </a>
                    {% endif %}
                    <a href="{{ path('generate_code', {'id': session.id}) }}">
                        <button class="btn btn-warning">
                            sign
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(sessions) }}
        </tbody>
    </table>
    {% if is_granted ("ROLE_MANAGER") %}
        <a href="{{ path('session_new') }}">
            <button class="btn btn-primary">
                Create new
            </button>
        </a>
    {% endif %}

{% endblock %}

{% block javascripts %}

{{ parent() }}

{{ encore_entry_script_tags('new') }}


{% endblock %}