{% extends 'base.html.twig' %}

{% block title %}Create sessions ! - OnlySign{% endblock %}

{% block body %}

 <h1>Create new Sessions</h1>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('session_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>

</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

{{ encore_entry_script_tags('new') }}


{% endblock %}