{% extends 'base.html.twig' %}

{% block title %}Session - Onlysign{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Formation</th>
                <td>{{ session.formation }}</td>
            </tr>
            <tr>
                <th>Begin date</th>
                <td>{{session.beginDate|date}}</td>
            </tr>
            <tr>
                <th>End date</th>
                <td>{{ session.endDate|date }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('session_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>

    <a href="{{ path('session_edit', {'id': session.id}) }}">
        <button class="btn btn-primary">
            Edit
        </button>
    </a>

    {{ include('session/_delete_form.html.twig') }}  
{% endblock %}
