{% extends 'base.html.twig' %}

{% block title %}Sign session - OnlySign{% endblock %}

{% block body %}
<h1>Sign Session</h1>
    {% if is_granted ("ROLE_MANAGER") %}
<h1>CODE: {{session.code}}</h1>
    {% endif %}
    
{{ form_start(form) }}
{% for message in app.flashes('message') %}
    <div class="flash-message">
        {{ message }}
    </div>
{% endfor %}
{{form_row(form.code) }}
{{form_row(form.presence) }}
<button type="submit" class="btn btn-success" formnovalidate>Signature</button>
{{form_end(form)}}

{% endblock %} 