{% extends 'base.html.twig' %}

{% block title %}You just signed ! - OnlySign{% endblock %}

{% block body %}
<h1>Signature done !</h1>

<h2>Congratulations ! You just signed .</h2>

    <a href="{{ path('session_index') }}">
        <button class="btn btn-secondary">
            Back to list
        </button>
    </a>
{% endblock %}
