@import url("error403.css");
@import url("error404.css");
@import url("home.css");
@import url("error.css");

html {
    height: 100%;
}

body {
    background-color: lightgray;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-info {
    background-color: rgb(255, 157, 190) !important;
}

#logo {
    width: 150px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

a {
    color: white !important;
}

a:hover {
    color: #1d6e94 !important;
}

.btn {
    margin: 1em !important;
}

footer {
    margin-top: auto;
}

#footer {
    color: white !important;
}

.navbar {
    line-height: 5;
    font-size: 1.2em;
}

#navbar {
    display: flex;
}

#encart {
    display: flex;
    list-style: none;
    border: 1px, solid, black;
}
