.background404 {
    background-image: url("https://media.giphy.com/media/g01ZnwAUvutuK8GIQn/giphy.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.textError {
    font-size: 2em;
    text-align: center;
}

h1 {
    margin: 0 !important;
}
p {
    margin: 0 !important;
}
