@font-face {
    font-family: 'Marguerite';
    src: url("../font/marguerite.ttf") format('opentype');
}


@font-face {
    font-family: Gotham;
    src: url("../font/Gotham\ Light.otf") format('opentype');
}



.welcome{
    font-size: 3em;
    font-family: Gotham;
    text-align: center;
    color: white;
}

.hello{
    font-family: Gotham;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    color: white;
}

#username{
    color: #29aeea;
    font-family: 'Marguerite';
    margin-left: 1%;
}

#banner{
    background-image: url(https://i.pinimg.com/originals/61/ba/f3/61baf3d89340b9b26b596dfab1b05db1.jpg);
}

#banner-text{
    font-size:3em;
    padding:5%;
    color : white;
    text-align: center;
    font-family : Gotham;
    font-style: italic;
}